<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">

        <!-- <p class="cool" v-bind:class=""{{good:isGood}}">
            
        {{message}}
        <p class="cool" v-bind:class="isGood?good:bad" >
                <ul>
                    <li v-for="todo in todos">{{todo.text}}</li>
                </ul>-->
        <p class="cool" v-bind:class="[activeClass]" @click="recverseMsg">{{msg}}</p>
        <p>{{content}}</p>
        <input type="text" v-model="content">
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                content: '',
                message: 'hello',
                isGood: false,
                activeClass: 'active',
                todos: [
                    {
                        text: '学习vue',
                    },
                    {
                        text: '学习js',
                    },
                    {
                        text: '学习css',
                    }
                ],
                msg: '你是弟弟'
            },
            methods:{
                recverseMsg(){
                    this.msg=this.msg.split('').reverse().join('')

                }
            }
        })
    </script>

</body>

</html>